<html>
<head>
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
</head>
<body>
  <div>
  <div>
  <nav class="navbar navbar-inverse" role="navigation" style="padding-left:130px;">
         <ul class="nav navbar-nav">
        <li><a href="/">Home</a></li>
        <li class="active"><a href="/carnet">LE carnet <span class="sr-only">(current)</span></a></li>
        <li><a href="/createperson">Ajoute toi au carnet</a></li>
      </ul>
</nav>
</div>
  <br/>
  <div class="jumbotron">
          <table class="table">
            <thead>
              <tr>
                <th>#</th>
                <th>Prenom</th>
                <th>Nom</th>
                <th>Telephone</th>
                <th>Courriel</th>
              </tr>
            </thead>
            <tbody>
    <% person.forEach(function(person,i) { var index = i + 1; %>

            <tr>
                <th scope="row"> <%= index%></th>
                <td> <%= person.prenom %> </td>
                <td> <%= person.nom %> </td>
                <td> <%= person.telephone %>  </td>
                <td> <%= person.courriel %>  </td>
            </tr>
     <% }); %>
        </tbody>
     </table>
</div>
  </div>
</body>
</html>
